footer {
  margin-top: 2rem;
  background: rgb(24, 22, 22);
  border-top: 1.5rem solid #222;
  padding: 1vh 5vw 0;
  display: grid;
  /* height: 25vh; */
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

footer p {
  font-size: 1.1rem;
  color: white;
}

footer a {
  color: white;
}

@media screen and (max-width: 765px) {
  footer {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    position: relative;
    grid-template-rows: auto;
    grid-template-columns: auto 0 auto;
    padding-bottom: 9vh;
  }
  footer .Credits {
    position: absolute;
    bottom: 1vh;
    left: 5vw;
    right: 5vw;
    margin-right: 0.5rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 765px) and (max-width: 1000px) {
  footer {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    position: relative;
    grid-template-rows: auto;
    grid-template-columns: auto 0 auto;
    padding-bottom: 9vh;
  }
  footer .Credits {
    position: absolute;
    bottom: 1vh;
    left: 5vw;
    right: 5vw;
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) and (min-height: 800px) {
  footer .Credits {
    margin-right: 16rem;
  }
}
