footer {
  margin-top: 2rem;
  background: rgb(24, 22, 22);
  padding-bottom: 0.15rem;
  border-top: 1.5rem solid #222;
}

footer p {
  font-size: 1.1rem;
  color: white;
}

footer .Credits {
  float: left;
  margin-left: 1.5rem;
  margin-bottom: 0.6rem;
  padding-bottom: 0.5rem;
  margin-right: 48vw;
}

footer .Contact {
  padding: 0;
  margin: 0;
  margin-bottom: 0.6rem;
  padding-bottom: 0.5rem;
}

footer a {
  color: white;
}

@media screen and (max-width: 765px) {
  footer .Credits {
    margin-right: 0.5rem;
  }
  footer p {
    font-size: 0.8rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 765px) and (max-width: 1000px) {
  footer .Credits {
    margin-right: 4rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) and (min-height: 800px) {
  footer .Credits {
    margin-right: 16rem;
  }
}
