main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  margin: 20vh 5vw 10vh;
}

main .title {
  display: flex;
  height: 6rem;
}

main .title div {
  display: flex;
  padding: 10px;
}

main .title h1 {
  color: orangered;
  margin: 0;
  padding: 0;
  font-size: 4rem;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

main .title h1:hover {
  color: #fff;
  text-shadow: -1px 1px 0 darkblue, 1px 1px 0 darkblue, 1px -1px 0 darkblue,
    -1px -1px 0 darkblue;
}

main .About .whatsapp {
  display: inline-block;
  background: #ece5dd;
  color: #075e54;
}

main .header {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
  /* text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff; */
}

main .tagline {
  color: darkblue;
  background: rgba(255, 255, 255, 0);
  margin: 0.5rem 0;
  font-weight: 600;
}

main .taglinebox {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2rem;
  padding: 1rem;
}

main .About {
  color: black;
  text-align: center;
  margin: 3rem 0 0;
  width: 45rem;
  max-width: 70vw;
  padding-right: 3rem;
  padding-left: 3rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1.5rem;
}

main .About p {
  font-size: 1.25rem;
  margin-top: 1rem;
  line-height: 1.5;
  text-shadow: unset;
}

main .fa-whatsapp-square {
  color: #25d366;
}

main .About img {
  height: 1.9rem;
  border-radius: 1rem;
}

main .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  background: rgba(255, 255, 255, 0.8);
  padding: 4vh 0;
  border-radius: 2rem;
  max-width: 85vw;
}

main .services .intro {
  text-align: center;
  margin: 4vh 2vw 2vh;
}

main .services .intro h2 {
  color: black;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

main .services .content {
  display: grid;
  grid-template-rows: 40vh 40vh;
  grid-template-columns: 30vw 30vw 30vw;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: start;
  grid-row-gap: 10vh;
}

main .services .content div {
  padding: 4vh 4vw;
  text-align: center;
}

main .services .content .head {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

main .services .content .about {
  font-size: 1.2rem;
}

main .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20vh 2vw 2vh;
  padding: 0 4vw;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
}

main .stats h2 {
  color: #000;
  font-size: 3rem;
  margin-bottom: 0;
}

main .stats h3 {
  font-size: 1.5rem;
}

main .stats p {
  font-size: 1rem;
  font-weight: 600;
}

main .stats img {
  height: 2.2rem;
}

main .stats .box {
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

main .stats .box div {
  text-align: center;
  margin: 0.7rem;
}

main .bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
}

main .bestsellers div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .bestsellers h2 {
  color: #fff;
  font-size: 3rem;
  margin: 1rem 0;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

main .bestsellers .box {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  overflow: hidden;
}

main .bestsellers .box .image {
  display: inline-block;
}

main .bestsellers img {
  width: 12rem;
  height: auto;
}

main .bestsellers .buy {
  width: 12rem;
  height: 2rem;
  text-align: center;
  border: 3px solid black;
  border-radius: 1rem;
}

main .bestsellers .buy:hover {
  background: rgba(0, 0, 0, 0.2);
}

main .bestsellers a,
header .About a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.scroll-top {
  bottom: 2rem;
  right: 1vw;
}

@media screen and (max-width: 750px) {
  main .title h1 {
    font-size: 3rem;
  }
  main .taglinebox {
    width: 70vw;
  }
  main .tagline {
    padding: 0.2rem;
    text-align: center;
  }
  main .About {
    margin: 2rem 0 0;
    width: 70vw;
    padding: 0.6rem;
  }
  main .services .content {
    display: grid;
    grid-template-rows: 20rem 20rem 20rem;
    grid-template-columns: 10rem 10rem;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
    grid-column-gap: 0rem;
  }
  main h2 {
    font-size: 2rem;
  }
  main .services .content .head {
    font-size: 1.5rem;
  }
  main .services .content .about {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  main .stats {
    max-width: 75vw;
  }
  main .stats .box {
    display: grid;
    grid-template-rows: 10rem 10rem;
    grid-template-columns: 10rem 10rem;
    align-items: center;
    justify-content: center;
  }
  main .bestsellers {
    margin-top: 10vh;
  }
  main .bestsellers img {
    width: 6rem;
    height: auto;
  }
  main .bestsellers .buy {
    width: 6rem;
    height: 1.2rem;
  }
  main .bestsellers a {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 1025px) {
  main .services .content {
    grid-template-rows: 38vh 38vh;
    grid-template-columns: 30vw 30vw 30vw;
    grid-row-gap: 0;
  }
}

/* @media screen and (min-width: 1000px) and (max-width: 1050px) and (min-height: 800px) {
  main p {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  main .About p {
    font-size: 1.45rem;
    margin-top: 2rem;
  }
  main .services .content .head {
    font-size: 2.2rem;
  }
  main .services .content .about {
    font-size: 1.5rem;
    line-height: 1.2;
  }
} */
