main .notice {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .notice p {
  padding: 1rem;
  color: black;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  background: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  border-radius: 1.5rem;
}
